*{margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.totalBox{
  background-color: #100e1d;
  color: #a09fb1;
}

.nubesBox{
  background-image:linear-gradient(rgba(30, 33, 58, 0.9), rgba(30, 33, 58, 0.9)), url("../public/Cloud-background.png")  ;
  background-repeat: no-repeat, repeat;
  background-position: center;
  
}


/* ////////BARRA LEFT ////////////////// */

.barrOn{
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transform: scale(1);
}

.barrOff{
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transform: scale(0);
}


