*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:'Raleway', sans-serif; */
}

.totalBox{
  background-color: #100e1d;
  color: #a09fb1;
}

.nubesBox{
  width: 100%;
  height: 100%;
  background-image:linear-gradient(rgba(30, 33, 58, 0.9), rgba(30, 33, 58, 0.9)), url("../public/Cloud-background.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  
}


/* ////////BARRA LEFT ////////////////// */

#barr{
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 10;
  transform: scale(0);
}

#barr.active{
  transform: scale(1)  !important;
}



@media screen and (max-width: 1024px) {
  .derecha{
    max-width: 41rem !important;
  }
  .izquierda{
    max-width: 21rem !important;
   /*  height: 100% !important; */

  }
  .cardtextcss{
    max-width: 18rem !important;
  }
  .cardimgcss{
    width: 8rem !important;
    height: 9rem !important;
  }
}

@media screen and (max-width: 321px) {
  .izquierda{
    max-width: 320px !important;
  }
  .izquierda1{
    max-width: 320px !important;
    
  }
}
@media screen and (max-width: 375px) {
  .izquierda{
    max-width: 375px !important;
  }
}
@media screen and (max-width: 425px) {
  .izquierda{
    max-width: 425px !important;
  }
}